.background{
    background-color: #0080ff;
    height: 100%;
}
.card{
    background-color: transparent !important;
    color: #fff;
    border: none;
    margin-top: 35%;
}
.btn[type=submit]{
    border-radius: 60px;
}
.btn-link{
    color:#ffff00;
}
h1{
    color: #fff;
}